.about
{
    background-color: aquamarine;
    padding: 70px;
    margin-top: 200px;
    margin-left: 450px;
    margin-right: 150px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 750px;
}

.ab
{
    margin-top: 80px;
}